*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  width: 100vw;
}
.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.dice-remaining{
  color: red;
}
.inputs-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}
.button{
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: white;
  background-color: #333;
}
.rem-die{
  grid-column: 1 / 3;
  grid-row: 3;
}
.plus-one{
  grid-column: 1 / 3;
}


.stats-container{
  padding: 15px;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */

}

.statsItem{
  border: 1px solid black;
}